
*{
    box-sizing: border-box;
}

html{
    height: 100%;
}

img{
    display: block;
    height: auto;
}

body{
    display: flex;
    flex-direction: column;
    height: 100%;
    margin: 0;
    font-family: "Roboto", "Arial", sans-serif;;
    font-weight: 400;
    background-color: #fff;
}

.container{
    max-width: 1140px;
    margin: 0 auto;
    padding: 0 20px;
}


.site-main{
    flex-grow: 1;
}

.currency{
    margin-top: 50px;
}

.currency-text{
    margin-bottom: 15px;
    font-size: 46px;
    text-align: center;
    color: #000;
}

.currency-form{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.currency-box{
    display: flex;
    align-items: center;
    justify-content: baseline;
    width: 100%;
}

.currency-input{
    max-width: 400px;
    width: 100%;
    padding: 10px;
    border: 1px solid #000;
    border-radius: 10px;
    appearance: none;
}

.currency-select{
    margin: 0 10px;
}

.currency-outputbox{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 5px;
    padding-bottom: 5px;
}

.currency-output{
    margin-right: 5px;
    padding: 5px;
    color: #fff;
    background-color: #000;
    border-radius: 5px;
}

.currency-btn{
    max-width: 100px;
    width: 100%;
    margin-top: 20px;
    padding: 10px 0;
    color: #fff;
    text-align: center;
    background-color: green;
    border: none;
    border-radius: 10px;
    transition: all 0.6s ease;
}
.currency-btn:hover{
color: #fff;
background-color: #b22222;
}

